body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.smartphone {
  width: 375px;
  height: 667px;
  border: 6px solid black;
  border-radius: 36px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}

.screen {
  width: 90%;
  height: 90%;
  margin: 0px 5%;
}

.header img{
  width: 30px;
}
.header h1{
  display: inline-block;
}
.header #back{
  float: right;
  margin-top: 10px;
}

#weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f8ff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

#weather img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px;
}

#weather p {
  flex: 1 1 100%;
  margin: 5px 0;
  padding: 10px;
  background-color: #e0f7fa;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#weather p:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.footer img{
  width: 30px;
}